Repository tangxifan/micro_benchmark, pull requests merged in 2022-03, with the labels that each got.

#9 [CI] Update workflow to include newly added counter designs to verifi…
  .github/workflows/rtl_verification.yml
  .gitignore
  requirements.txt
  run_reg_test.py
  simple_registers/rtl_list.yaml
Labels: github, lang-python

#12 Version logging and auto-update
  .github/workflows/patch_updater.yml
  README.md
  VERSION.md
Labels: documentation, github

#14 Initial Commit on Documentation
  .readthedocs.yml
  docs/Makefile
  docs/make.bat
  docs/requirements.txt
  docs/source/VERSION.md
  docs/source/_static/custom.css
  docs/source/appendix/contact.rst
  docs/source/appendix/index.rst
  docs/source/appendix/reference.rst
  docs/source/appendix/z_reference.bib
  docs/source/conf.py
  docs/source/datasheet/index.rst
  docs/source/datasheet/simple_registers.rst
  docs/source/developer/api/index.rst
  docs/source/developer/api/makefile_principles.rst
  docs/source/developer/api/makefiles/index.rst
  docs/source/developer/ci.rst
  docs/source/developer/contributor_guidelines.rst
  docs/source/developer/index.rst
  docs/source/developer/naming_convention.rst
  docs/source/index.rst
Labels: documentation

#15 Add documentation link to README.md
  README.md
  docs/source/developer/naming_convention.rst
  docs/source/index.rst
Labels: documentation

#16 Add version number rules and code comments to top-level makefile, being compatible to doc style
  .github/labeler.yml
  Makefile
  docs/source/developer/index.rst
  docs/source/developer/version_number.rst
Labels: documentation, github, build, lang-make

#17 [Doc] Typo
  docs/source/developer/version_number.rst
Labels: documentation

#11 Counter16 benchmarks added with Cocotb Testbenches
  simple_registers/counters/counter16_4/Makefile
  simple_registers/counters/counter16_4/counter16_4.v
  simple_registers/counters/counter16_4/test_counter16_4.py
  simple_registers/counters/counter16_pos_rst/Makefile
  simple_registers/counters/counter16_pos_rst/counter16_pos_rst.v
  simple_registers/counters/counter16_pos_rst/test_counter16_pos_rst.py
  simple_registers/counters/counter16_sync_rst/Makefile
  simple_registers/counters/counter16_sync_rst/counter16_sync_rst.v
  simple_registers/counters/counter16_sync_rst/test_counter16_sync_rst.py
  simple_registers/counters/counterdown16_1clk_posedge_async_resetn/Makefile
  simple_registers/counters/counterdown16_1clk_posedge_async_resetn/counterdown16_1clk_posedge_async_resetn.v
  simple_registers/counters/counterdown16_1clk_posedge_async_resetn/test_counterdown16_1clk_posedge_async_resetn.py
  simple_registers/counters/counterdown16_1clk_posedge_async_resetp/Makefile
  simple_registers/counters/counterdown16_1clk_posedge_async_resetp/counterdown16_1clk_posedge_async_resetp.v
  simple_registers/counters/counterdown16_1clk_posedge_async_resetp/test_counterdown16_1clk_posedge_async_resetp.py
  simple_registers/counters/counterdown16_1clk_posedge_sync_resetn/Makefile
  simple_registers/counters/counterdown16_1clk_posedge_sync_resetn/counterdown16_1clk_posedge_sync_resetn.v
  simple_registers/counters/counterdown16_1clk_posedge_sync_resetn/test_counterdown16_1clk_posedge_sync_resetn.py
  simple_registers/counters/counterdown16_4clk_posedge_async_resetn/Makefile
  simple_registers/counters/counterdown16_4clk_posedge_async_resetn/counterdown16.v
  simple_registers/counters/counterdown16_4clk_posedge_async_resetn/counterdown16_4clk_posedge_async_resetn.v
  simple_registers/counters/counterdown16_4clk_posedge_async_resetn/test_counterdown16_4clk_posedge_async_resetn.py
  simple_registers/counters/counterup16_1clk_posedge_async_resetn/Makefile
  simple_registers/counters/counterup16_1clk_posedge_async_resetn/counterup16_1clk_posedge_async_resetn.v
  simple_registers/counters/counterup16_1clk_posedge_async_resetn/test_counterup16_1clk_posedge_async_resetn.py
  simple_registers/counters/counterup16_1clk_posedge_async_resetp/Makefile
  simple_registers/counters/counterup16_1clk_posedge_async_resetp/counterup16_1clk_posedge_async_resetp.v
  simple_registers/counters/counterup16_1clk_posedge_async_resetp/test_counterup16_1clk_posedge_async_resetp.py
  simple_registers/counters/counterup16_1clk_posedge_sync_resetn/Makefile
  simple_registers/counters/counterup16_1clk_posedge_sync_resetn/counterup16_1clk_posedge_sync_resetn.v
  simple_registers/counters/counterup16_1clk_posedge_sync_resetn/test_counterup16_1clk_posedge_sync_resetn.py
  simple_registers/counters/counterup16_4clk_posedge_async_resetn/Makefile
  simple_registers/counters/counterup16_4clk_posedge_async_resetn/counterup16.v
  simple_registers/counters/counterup16_4clk_posedge_async_resetn/counterup16_4clk_posedge_async_resetn.v
  simple_registers/counters/counterup16_4clk_posedge_async_resetn/test_counterup16_4clk_posedge_async_resetn.py
  simple_registers/counters/down_counter16/Makefile
  simple_registers/counters/down_counter16/down_counter16.v
  simple_registers/counters/down_counter16/test_down_counter16.py
  simple_registers/counters/down_counter16_4/Makefile
  simple_registers/counters/down_counter16_4/down_counter16_4.v
  simple_registers/counters/down_counter16_4/test_down_counter16_4.py
  simple_registers/counters/down_counter16_pos_rst/Makefile
  simple_registers/counters/down_counter16_pos_rst/down_counter16_pos_rst.v
  simple_registers/counters/down_counter16_pos_rst/test_down_counter16_pos_rst.py
  simple_registers/counters/down_counter16_sync_rst/Makefile
  simple_registers/counters/down_counter16_sync_rst/down_counter16_sync_rst.v
  simple_registers/counters/down_counter16_sync_rst/test_down_counter16_sync_rst.py
  simple_registers/rtl_list.yaml
Labels: enhancement

#23 [CI] Fix typo on RTL verification workflows
  .github/workflows/rtl_verification.yml
Labels: github

#22 Set Tab to 2 Spaces for Counter16 Cocotb Tests
  simple_registers/counters/counterdown16_1clk_posedge_async_resetn/test_counterdown16_1clk_posedge_async_resetn.py
  simple_registers/counters/counterdown16_1clk_posedge_async_resetp/test_counterdown16_1clk_posedge_async_resetp.py
  simple_registers/counters/counterdown16_1clk_posedge_sync_resetn/test_counterdown16_1clk_posedge_sync_resetn.py
  simple_registers/counters/counterdown16_4clk_posedge_async_resetn/test_counterdown16_4clk_posedge_async_resetn.py
  simple_registers/counters/counterup16_1clk_posedge_async_resetn/test_counterup16_1clk_posedge_async_resetn.py
  simple_registers/counters/counterup16_1clk_posedge_async_resetp/test_counterup16_1clk_posedge_async_resetp.py
  simple_registers/counters/counterup16_1clk_posedge_sync_resetn/test_counterup16_1clk_posedge_sync_resetn.py
  simple_registers/counters/counterup16_4clk_posedge_async_resetn/test_counterup16_4clk_posedge_async_resetn.py
Labels: force_rtl_verification
